* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 16px 120px;
}
nav .nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

nav .nav-links li a {
    text-decoration: none;
    color: inherit;
}

nav .access-btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #31965b;
    padding: 14px 18px;
    border-radius: 4px;
    border: none;

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
}

nav .access-btn:hover {
    background-color: #277d48;
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

nav .access-btn:active {
    transform: translateY(0) scale(0.97);
    box-shadow: none;
}

.banner {
    width: 100%; 
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 70px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
}

.banner .banner-text {
    color: white;
}

.early-access-box {
    background-color: white;
    color: #31965b;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 35px;
    border-radius: 1000px;
    font-weight: 500;
    margin: 0 565px 16px;

}

.banner-text h1 {
    font-size: 84px;
    font-weight: bold;
    text-align: center;
}